@use './variables' as *;

.el-dialog__close:hover {
    color: $primary-color !important;
}
.el-dialog__headerbtn .el-dialog__close {
    color: $primary-color !important;
}
.el-dialog {
    background: #f8f5f2 !important;
}
