
// PopOver
.el-popover {
  background-color: $off-white !important;
  color: $black;
  border-radius: 8px;
  padding: 10px;
}

p {
  color: $black;
  font-size: 0.875rem;
}

.capitalize {
  text-transform: uppercase;
}
