// menu and badge
@use './variables' as *;
.el-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $off-black;
    position: fixed;
    z-index: 3000;
    width: 100%;

    &-link {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .link {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}

.el-menu-logo {
    font-size: 1.3rem;
}

.el-link {
    color: $black !important;
    font-size: 12px !important;

    &:hover::after {
        color: $black !important;
        border-bottom: 1px solid $black !important;
    }
}

.el-badge__content {
    background: $white !important;
    font-size: 10px !important;
    color: $black !important;
}

.el-menu--horizontal.el-menu {
    border-bottom: none !important;
}
