@use '../variables' as *;

.el-button,
a.btn {
    background: $off-white;
    color: $off-black;
    border: 1px solid $off-black;
    display: flex;
    text-transform: uppercase;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 500;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    pointer-events: all;
    transition: opacity 4s ease-in;
    // height: 40px;

    a {
        color: inherit;
        text-decoration: none;
    }
}

a.btn {
    color: inherit;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;

    &:hover,
    &:focus {
        border-color: $off-black;
        background-color: $off-white;
        color: $off-black;
    }

    &:active {
        border-color: $off-black;
        background-color: $off-white;
        color: $off-black;
    }
}

.outline {
    border: 1px solid $off-black;
    background-color: transparent;
    color: $off-black;
}

.el-button {
    border-radius: 0px;
    width: 100%;
    border: 1px solid #cdc9c6;
    transition: background 0.1s ease-in;

    &:hover,
    &:focus {
        background: #1b1a1a !important;
        border-color: #1b1a1a !important;
        color: #ecf5ff !important;
    }

    &.is-plain {
        &.is-active,
        &:hover {
            border: 1.5px solid $black !important;
            background: $white !important;
            color: $black !important;
        }
    }

    &.is-transparent {
        background: inherit !important;
        color: $black !important;

        &.is-active,
        &:hover {
            border: 1.5px solid $black !important;
            background: inherit !important;
            color: $black !important;
        }
    }

    &.is-mild {
        background: $white !important;
        color: $black !important;

        &.is-active,
        &:hover {
            border: 1.5px solid $black !important;
            background: $bg-gray-400 !important;
        }
    }
}

.el-button.black {
    color: $off-white;
    border-color: $off-black;
    background-color: $off-black;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 0;
        padding-top: 0;
        border-radius: 100%;
        background-color: rgba(236, 240, 241, 0.3);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    &:active {
        transition:
            width 0.2s ease-out,
            padding-top 0.2s ease-out;

        &:before {
            width: 120%;
            padding-top: 120%;
            transition:
                width 0.2s ease-out,
                padding-top 0.2s ease-out;
        }
    }
}

.el-button.white {
    color: $off-black;
    border-color: $off-black;
    background-color: $off-white;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 0;
        padding-top: 0;
        border-radius: 100%;
        background-color: rgba(236, 240, 241, 0.3);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    &:active {
        transition:
            width 0.2s ease-out,
            padding-top 0.2s ease-out;

        &:before {
            width: 120%;
            padding-top: 120%;
            transition:
                width 0.2s ease-out,
                padding-top 0.2s ease-out;
        }
    }
}

.el-radio-button__orig-radio:checked + .el-radio-button__inner {
    color: #fff;
    background-color: $off-black;
    border-color: $off-black;
    box-shadow: -1px 0 0 0 $off-black;
}

.el-radio-button__inner:hover {
    color: $off-black;
}
