.product__grid {
    margin: 10px auto;
    width: 100%;
    display: flex;
    font-weight: 500;

    &-right {
        width: 100%;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
    @media (max-width: 480px) {
        flex-direction: column;
    }

    // margin-top: 130px;
}

.product__grid-w {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 20px;

    @media (max-width: 480px) {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }

    &__list {
        // width: 18.95833vw;
        border: 1px solid #cdcdcd;
        border-radius: 5px;
        transition: padding 0.1s ease-in;

        a {
            border-radius: 5px;
            transition: box-shadow 0.3s ease-in-out;
        }

        a:hover {
            box-shadow: 0 2px 9px #cdcdcd;
            transition:
                padding 0.1s ease-in,
                box-shadow 0.3s ease-in-out;
        }

        span {
            display: flex;
            pointer-events: none;
        }

        &-img {
            height: 270px;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            background: #ffffff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-bottom: 10px;

            @media (max-width: 480px) {
                height: 170px;
            }

            img {
                /* border-radius: 15px; */
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                height: 140px;
                width: 50%;
            }
        }
        &-content {
            padding: 10px;
        }

        &-title {
            padding: 10px 0 0;
            font-size: 14px;
            line-height: 1.25em;
            max-width: 200px;
        }

        &-price {
            padding: 10px 0 0;
            font-size: 16px;
            font-weight: 600;
            line-height: 0.5em;
            margin: 10px 0;
        }
    }
}
