$fontMonseratt: 'Montserrat', sans-serif;

$white: #ffffff;
$base-color: #ffcf4b;
$off-white: #f8f5f2;
$black: #000000;
$off-black: #1b1a1a;

//font weight
$font-weight-light: 300;
$font-weight-bold: 600;
