@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,500,700&display=swap');

$fontMonseratt: 'Montserrat', sans-serif;

$white: #ffffff;
$off-white: #f8f5f2;
$black: #000000;
$off-black: #1b1a1a;
//font size
$font-weight-light: 300;
$font-weight-bold: 600;

a,
body,
button,
div,
footer,
form,
h1,
h2,
h3,
header,
html,
img,
input,
label,
li,
nav,
p,
select,
span,
table,
textarea,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
}

button,
input,
select,
textarea {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}
ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ul,
li {
  list-style-type: none;
}

a,
img,
picture,
video {
  display: block;
}

img,
video {
  width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: $off-white;
  color: $off-black;
  font-family: $fontMonseratt;
}

// navBar

.el-menu {
  background: $off-black;
}

.el-drawer {
  background: $off-white;
  width: 33.33333vw;
}

.el-menu-logo {
  font-size: 1.3rem;
}

// product

.product__grid {
  margin: -1px auto 0;
  width: 61.77778vw;
  display: flex;
  font-weight: 500;

  &-right {
    width: 100%;
  }
}

.product__grid-w__list:not(:nth-child(3n + 1)) {
  margin-left: 2.15278vw;
}

.product__grid-w__list:nth-child(n + 4) {
  margin-top: 4.30556vw;
}

.product__grid-w {
  display: flex;
  flex-wrap: wrap;

  &__list {
    width: 18.95833vw;

    a:hover {
      border: 1px solid #e4e7ed;
      padding: 13px;
      border-radius: 5px;
      box-shadow: 0 2px 9px #cdcdcd;
      transition: padding 0.1s ease-in;
    }

    span {
      display: block;
      pointer-events: none;
    }

    &-img {
      height: 20.27778vw;
      position: relative;
      width: 100%;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    &-title {
      padding: 1.04167vw 0 0;
      font-size: 1.11111vw;
      line-height: 1.25em;
    }

    &-price {
      padding: 0.69444vw 0 0;
      line-height: 0.90278vw;
    }
  }
}

.el-input-number__decrease:hover:not(.is-disabled)
  ~ .el-input
  .el-input__inner:not(.is-disabled),
.el-input-number__increase:hover:not(.is-disabled)
  ~ .el-input
  .el-input__inner:not(.is-disabled) {
  border-color: none;
}

.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: #fff;
  background-color: $off-black;
  border-color: $off-black;
  box-shadow: -1px 0 0 0 $off-black;
}

.el-radio-button__inner:hover {
  color: $off-black;
}

.el-input-number__decrease,
.el-input-number__increase {
  background: $off-black;
  color: #ffffff;
  border-radius: 50%;
}

.el-input-number__decrease:hover,
.el-input-number__increase:hover {
  color: #ffffff;
}

.el-input__inner {
  background-color: $off-white;
  color: $off-black;
  border: none;
}

.el-input-number .el-input__inner {
  padding-right: 0px;
  padding-left: 0px;
}

// drawer

.el-drawer__header {
  margin: auto;
  padding: 5vw 0 5.55556vw;
  width: 22.36111vw;
}
.el-drawer__body {
  position: relative;
  margin: auto;
  padding: 0 0 5.55556vw;
  width: 22.36111vw;
}

// button

.el-button {
  background: $off-white;
  color: $off-black;
  border: 1px solid $off-black;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 500;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  pointer-events: all;
  transition: opacity 4s ease-in;
}

.el-button.action-button-buy {
  color: $off-white;
  background-color: $off-black;
}

.el-button.no__cart-btn:focus,
.el-button.no__cart-btn:hover,
.el-button.action-button-cart:focus,
.el-button.action-button-cart:hover {
  color: $off-white;
  border-color: $off-black;
  background-color: $off-black;
}
