.el-badge__content.is-fixed {
  top: 25px;
}

.el-badge__content {
    background-color: $base-color;
    border-radius: 50%;
    color: $off-black;
    font-size: 9px;
    height: 18px;
    width: 18px;
}
