
.el-button {
  background: $off-white;
  color: $off-black;
  border: 1px solid $off-black;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 500;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  pointer-events: all;
  transition: opacity 4s ease-in;
}

.el-button.no__cart-btn:focus,
.el-button.no__cart-btn:hover,
.el-button.action-button-cart:focus,
.el-button.action-button-cart:hover {
  color: $off-white;
  border-color: $off-black;
  background-color: $off-black;
}

.el-button.black{
  color: $off-white;
  border-color: $off-black;
  background-color: $off-black;
  position: relative;

  &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 0;
      padding-top: 0;
      border-radius: 100%;
      background-color: rgba(236, 240, 241, .3);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

  &:active{
    transition: width .2s ease-out, padding-top .2s ease-out;

    &:before {
       width: 120%;
      padding-top: 120%;
      transition: width .2s ease-out, padding-top .2s ease-out;
    }
  }
}

.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: #fff;
  background-color: $off-black;
  border-color: $off-black;
  box-shadow: -1px 0 0 0 $off-black;
}

.el-radio-button__inner:hover {
  color: $off-black;
}
