
.el-button {
  background: $off-white;
  color: $off-black;
  border: 1px solid $off-black;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 500;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  pointer-events: all;
  transition: opacity 4s ease-in;
}

.el-button.action-button-buy {
  color: $off-white;
  background-color: $off-black;
}

.el-button.no__cart-btn:focus,
.el-button.no__cart-btn:hover,
.el-button.action-button-cart:focus,
.el-button.action-button-cart:hover {
  color: $off-white;
  border-color: $off-black;
  background-color: $off-black;
}

.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: #fff;
  background-color: $off-black;
  border-color: $off-black;
  box-shadow: -1px 0 0 0 $off-black;
}

.el-radio-button__inner:hover {
  color: $off-black;
}
