.el-drawer__header {
  margin: auto;
  padding: 5vw 0 5.55556vw;
  width: 22.36111vw;
}
.el-drawer__body {
  position: relative;
  margin: auto;
  padding: 0 0 5.55556vw;
  width: 22.36111vw;
}

.el-drawer {
  background: $off-white;
  width: 33.33333vw;
}
