
.el-input-number__decrease:hover:not(.is-disabled)
  ~ .el-input
  .el-input__inner:not(.is-disabled),
.el-input-number__increase:hover:not(.is-disabled)
  ~ .el-input
  .el-input__inner:not(.is-disabled) {
  border-color: none;
}

.el-input-number__decrease,
.el-input-number__increase {
  background: $off-black;
  color: #ffffff;
  border-radius: 50%;
}

.el-input-number__decrease:hover,
.el-input-number__increase:hover {
  color: #ffffff;
}

.el-input__inner {
  background-color: $off-white;
  color: $off-black;
  border: none;
}

.el-input-number .el-input__inner {
  padding-right: 0px;
  padding-left: 0px;
}
